[submodule "posts"]
	path = posts
	url = https://github.com/dimaslanjaka/source-posts.git
	branch = posts
[submodule "packages/hexo-post-parser"]
	path = packages/hexo-post-parser
	url = https://github.com/dimaslanjaka/hexo-post-parser.git
	branch = monorepo
[submodule "packages/translator"]
	path = packages/translator
	url = https://github.com/dimaslanjaka/puppeteer-google-translate.git
